html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
* {
    margin: 0;
    padding: 0;
}

h1, h2{
    text-align: center;
    margin: 20px;
    font-size: 2em;
}

h2{
    font-size: 2em;
}

form{
    width: 66%;
    margin: 0 auto;
}

.button{
    margin: 20px 0;
}

.alert{
    margin-top: 20px;
    color: hsl(348, 100%, 61%);
}

p{
    margin-bottom: 10px;    
}

.description{
    width: 80%;
    margin: 0 auto;
}