html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
* {
    margin: 0;
    padding: 0;
}

h1, h2{
    text-align: center;
    margin: 20px;
    font-size: 2em;
}

h2{
    font-size: 2em;
}

form{
    width: 66%;
    margin: 0 auto;
}

.button{
    margin: 20px 0;
}

.alert{
    margin-top: 20px;
    color: hsl(348, 100%, 61%);
}

p{
    margin-bottom: 10px;    
}

.description{
    width: 80%;
    margin: 0 auto;
}

.end-navbar{
    display: flex;
}

.navvv {
    width: 100px;
}

.navbar-brand{
    display: flex;
    justify-content: space-between 
}

.report-description{
    padding: 10px 10px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    margin-bottom: 20px
}

.title1{
    
    text-align: center
}

.button{
    margin: 0
}

.card-header{
    
    display: inline;
}


.card{
    padding-top: 20px;
}

label{
    font-weight: bold;
}

.right-message{
    text-align: right;
}

.message-box{
    height: 550px;
    overflow: auto;
}